*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
body{
}
.cabecera{
    height: 7em;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 7em;
    width: 10em;
    display: flex;
}
.fotoLogo{
    height: 7em;
    margin-left: 3em;
}
.menu{
    width: 20em;
    display:flex;
    align-items: flex-end;
    margin-right: 2em;
}
a{
    text-decoration: none;
    color: #88adbb;
}
a:hover{
    color: #577e8c;
}
.menu1{
    width: 10em;
    margin-bottom: 1em;
    margin-left: 1em;
    border-right: 1px solid #88adbb;
}
.menu2{
    width: 10em;
    margin-bottom: 1em;
    margin-left: 1em;
    border-right: 1px solid #88adbb;
}
.menu3{
    width: 10em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.espacio1{
    height: 25em;
    width: 100%;
    margin-top: 1em;
    display: flex;
}
.presentacionTexto{
    width: 45%;
    margin-left: 4em;
    display: flex;
    flex-direction: column;
}
.textoPresentacion1{
    height: 15%;
    margin-top: 1em;
    font-size: 1.5em;
}
.textoPresentacion2{
    height: 45%;
    padding-top: 1em;
    color: #888888;
    border-top: 2px solid #88adbb;
}
.textoPresentacion3{
    height: 40%;
    display: flex;

}

.espacioBoton{
    width: 25%;
}
.espacioBoton1{
    width: 50%;
}
.presentacionFoto{
    width: 55%;
    display: flex;
}
.fotoPresentacion{
    width: 100%;

}


footer{
    align-items: center;
    color: #88adbb;
}

/*Contacto*/

.areaContacto{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.contacto{
    width: 30em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textoContacto1{
    height: 10%;
    align-self: center;
    font-size: 3em;
    margin-bottom: 0.6em;
}
.textoContacto2{
    height: 30%;
    color: #888888;
    border-top: 2px solid #88adbb;
    margin-top: 1;

}
.textoContacto3{
    height: 10%;
  
}